<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="./assets/angular-icon.svg" width="30" height="30" alt="">
    University
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Courses</a>       
        
        <div class ="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class ="dropdown-item" [routerLink]="[ '/course-list' ]">List</a>
          <a class ="dropdown-item" [routerLink]="[ '/course-save' ]">Save</a>
          <a class ="dropdown-item" [routerLink]="[ '/course-edit/:id' ]">Edit</a>
          <a class ="dropdown-item" [routerLink]="[ '/course-delete/:id']">Delete</a>        
        </div>      
        <!-- <li class="nav-item active">
          <a class="nav-link" [routerLink]="[ '/course-list' ]">Courses</a>   -->           
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Department</a>       
      
      <div class ="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class ="dropdown-item" [routerLink]="[ '/department-list' ]">List</a>
        <a class ="dropdown-item" [routerLink]="[ '/department-save' ]">Save</a>
        <a class ="dropdown-item" [routerLink]="[ '/department-edit/:id' ]">Edit</a>
        <a class ="dropdown-item" [routerLink]="[ '/department-delete/:id']">Delete</a>        
      </div>         
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Instructor</a>       
    
    <div class ="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class ="dropdown-item" [routerLink]="[ '/instructor-list' ]">List</a>
      <a class ="dropdown-item" [routerLink]="[ '/instructor-save' ]">Save</a>
      <a class ="dropdown-item" [routerLink]="[ '/instructor-edit/:id' ]">Edit</a>
      <a class ="dropdown-item" [routerLink]="[ '/instructor-delete/:id']">Delete</a>        
    </div>           
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Student</a>       
  
  <div class ="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class ="dropdown-item" [routerLink]="[ '/student-list' ]">List</a>
    <a class ="dropdown-item" [routerLink]="[ '/student-save' ]">Save</a>
    <a class ="dropdown-item" [routerLink]="[ '/student-edit/:id' ]">Edit</a>
    <a class ="dropdown-item" [routerLink]="[ '/student-delete/:id']">Delete</a>        
  </div>        
</li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>